<?xml version="1.0" encoding="UTF-8"?>headers

<plugin xmlns="http://www.w3.org/ns/widgets"
    id="nat-device-network"
    version="0.1.0">
    <name>nat-device-network</name>
    <description></description>
    <license>Apache 2.0</license>
    <keywords>weex,plugin,nat,natjs,device,network</keywords>
    <repo>https://github.com/Natjs/weex-nat-device-network.git</repo>
    <issue>https://github.com/Natjs/weex-nat-device-network/issues</issue>
    
     <!-- ios -->
     <platform name="ios">
         <framework src="NatDeviceNetwork" type="podspec" spec="" />
         <config-file target="WeexpluginConfig.xml" parent="/*">
             <feature name="WXTestModule">
                 <param name="category" value="module" />
                 <param name="ios-package" value="WeexNatDeviceNetwork" />
                 <param name="api" value="nat/device/network" />
             </feature>
         </config-file>
         <header-file src="ios/WeexNatDeviceNetwork.h"/>
         <source-file src="ios/WeexNatDeviceNetwork.m"/>
     </platform>

     <!-- android -->
     <platform name="android">
     </platform>

</plugin>
